@media only screen and (max-width: 576px) {
  .header-section {
    flex-direction: column;
  }
  .nav-container {
    margin-left: 50px;
  }
  .items-container {
    flex-direction: column;
    padding: 9px;
  }
  .items-container {
    margin-left: 100px;
  }
  .items-container a {
    margin-top: 5px;
  }
  .login-button {
    margin-top: 10px;
  }
  .banner-section {
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    gap: 15px;
  }
  .text-container {
    width: 100%;
    order: 1;
  }
  .banner-img-container {
    width: 100%;
    order: 2;
    margin-top: 30px;
  }
  /* products */
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
